<!DOCTYPE html>
<html ng-app="app" ng-controller="movieController" ng-init="init()">
<head>
<meta charset="UTF-8">
<script src="js/lib/angular.js"></script>
<script src="js/lib/jquery.js"></script>
<script src="js/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/custom.css">

<script src="css/bootstrap/js/bootstrap.min.js"></script>

<script src="js/app.js"></script>
<script src="js/directives.js"></script>
<script src="js/reservationController.js"></script>
<script src="js/movieController.js"></script>

<title>Kino</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">Kino Jakieśtam</a>
			</div>
			<div class="navbar-collapse collapse">
				<form>
					<ul class="nav navbar-nav navbar-right">
						<li ng-show="!logged"><input class="form-control navbar-text" placeholder="Login" ng-model="user.login" /></li>
						<li ng-show="!logged"><input class="form-control navbar-text" placeholder="Hasło" ng-model="user.password" type="password" /></li>
						<li ng-show="!logged"><button ng-click="login()" class="btn btn-medium btn-warning navbar-text">Zaloguj</button></li>
						<!--  -->
						<li ng-show="logged"><span class="navbar-text">Siema, {{user.login}}</span></li>
						<li ng-show="logged"><button ng-click="logout()" class="btn btn-medium btn-warning navbar-text">Wyloguj</button></li>
					</ul>
				</form>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<h1>Rezerwacja biletów</h1>
		<div class="modal-body">
			<form name="form">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Data</th>
							<th>Tytuł</th>
							<th>Wolne miejsca</th>
							<th>Rezerwuj</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="movie in table track by movie.id">
							<td>{{movie.timeString}}</td>
							<td>{{movie.title}}</td>
							<td><span>{{countReservations(movie)}}/{{movie.space}}</span></td>
							<td>
								<button ng-hide="movie.freeSpace==0 || !logged" class="btn btn-small btn-primary" ng-click="reserve(movie);">Rezerwacje</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</body>

</html>
